{#
/**
 * @file
 * DrupalCamp-style sponsor logo tile.
 */
#}

{% set logo_src = logo.src|default(logo|default('')) %}
{% set logo_alt = logo.alt|default(label|default('Sponsor logo')) %}

<div
  {{ attributes
    .setAttribute('role', 'group')
    .setAttribute('aria-label', logo_alt)
    .addClass('grid place-items-center p-6 bg-tertiary/20 border-[0.5px] border-secondary/50 rounded-lg text-body-title/80')
  }}
>
  {% if logo_src %}
    <img src="{{ logo_src }}" class="max-w-full max-h-14 object-contain" alt="{{ logo_alt }}">
  {% else %}
    <svg width="118" height="35" viewBox="0 0 118 35" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path d="M35.1867 15.6683H24.4677L33.7504 10.3367L31.9096 7.16333L22.6257 12.495L27.9841 3.26083L24.7949 1.42917L19.4354 10.661V0H15.7514V10.6622L10.3919 1.42917L7.20149 3.26083L12.5598 12.4927L3.27831 7.16333L1.43631 10.3367L10.719 15.6683H0V19.3328H10.7178L1.43631 24.6645L3.27714 27.8378L12.561 22.5062L7.20149 31.7403L10.3907 33.572L15.7514 24.339V35H19.4354V24.1103L24.8933 33.5137L27.8844 31.7963L22.4252 22.3907L31.9072 27.8367L33.7492 24.6633L24.4677 19.3317H35.1855V15.6683H35.1867ZM17.5934 22.4817C16.9357 22.4817 16.2845 22.3529 15.6769 22.1026C15.0693 21.8523 14.5172 21.4853 14.0522 21.0226C13.5871 20.56 13.2182 20.0107 12.9664 19.4062C12.7147 18.8017 12.5851 18.1538 12.585 17.4994C12.5849 16.8451 12.7144 16.1971 12.966 15.5925C13.2176 14.9879 13.5864 14.4386 14.0513 13.9759C14.5163 13.5131 15.0683 13.146 15.6758 12.8955C16.2834 12.645 16.9346 12.5161 17.5922 12.516C18.9203 12.5158 20.1941 13.0407 21.1334 13.975C22.0726 14.9094 22.6004 16.1767 22.6005 17.4982C22.6007 18.8198 22.0732 20.0872 21.1342 21.0218C20.1952 21.9564 18.9215 22.4815 17.5934 22.4817Z" fill="currentColor" fill-opacity="0.8"></path>
      <path d="M45.1867 30.0498V4.44617H49.9095V30.0498H45.1867ZM90.4839 12.6502H94.9933V14.7735C95.9525 13.076 98.1908 12.1555 100.108 12.1555C102.488 12.1555 104.405 13.1822 105.293 15.0547C106.676 12.9313 108.524 12.1555 110.833 12.1555C114.064 12.1555 117.152 14.1003 117.152 18.7682V30.0498H112.573V19.7237C112.573 17.8488 111.649 16.4337 109.482 16.4337C107.457 16.4337 106.249 17.9912 106.249 19.866V30.051H101.564V19.7237C101.564 17.8488 100.605 16.4337 98.4733 16.4337C96.4132 16.4337 95.2056 17.9562 95.2056 19.866V30.051H90.4839V12.6502ZM60.5828 30.5538C55.262 30.5538 51.4092 26.6257 51.4092 21.35C51.4092 16.1583 55.2503 12.138 60.5828 12.138C65.9411 12.138 69.7565 16.1957 69.7565 21.35C69.7565 26.5883 65.9013 30.5538 60.5828 30.5538ZM60.5828 16.3963C59.263 16.3982 57.9979 16.9209 57.065 17.8498C56.1321 18.7787 55.6077 20.038 55.6067 21.3512C55.6077 22.6644 56.1321 23.9236 57.065 24.8525C57.9979 25.7814 59.263 26.3041 60.5828 26.306C61.9024 26.3038 63.1672 25.781 64.0999 24.8521C65.0325 23.9232 65.5568 22.6642 65.5577 21.3512C65.5568 20.0382 65.0325 18.7791 64.0999 17.8502C63.1672 16.9214 61.9024 16.3985 60.5828 16.3963ZM79.8435 30.5538C74.5227 30.5538 70.6698 26.6257 70.6698 21.35C70.6698 16.1583 74.5109 12.138 79.8435 12.138C85.2018 12.138 89.0171 16.1957 89.0171 21.35C89.0171 26.5883 85.1596 30.5538 79.8435 30.5538ZM79.8435 16.3368C78.5086 16.339 77.229 16.8679 76.2854 17.8074C75.3418 18.747 74.8112 20.0206 74.8099 21.3488C74.8112 22.6771 75.3418 23.9507 76.2854 24.8903C77.229 25.8298 78.5086 26.3587 79.8435 26.3608C81.1784 26.3587 82.458 25.8298 83.4016 24.8903C84.3452 23.9507 84.8758 22.6771 84.877 21.3488C84.8758 20.0206 84.3452 18.747 83.4016 17.8074C82.458 16.8679 81.1784 16.339 79.8435 16.3368Z" fill="currentColor" fill-opacity="0.8"></path>
    </svg>
  {% endif %}
</div>
