{#
/**
 * @file
 * Empty responsive spacer for Canvas layouts.
 */
#}

<div {{ attributes.setAttribute('aria-hidden', 'true').addClass('container-px max-w-480 mx-auto relative z-30 pt-[clamp(40px,8vw,100px)]') }}></div>
